body {
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}


.card {
    margin: 5% auto;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 5px 20px hsl(211, 12%, 66%);

}

.card-img-top {
    width: 100%;
    border-radius: 15px;
}


.card-body {
    padding: 0% 5%;
}

.card-text {
    font-family: Outfit;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 130%;
}

.card-subtext {
    margin-top: -10px;
    padding-bottom: 10px;
    font-family: Outfit;
    font-weight: 400;
    font-size: 90%;
    color: hsl(220, 15%, 55%);
}